.card-wrapper {
    .card {
        &--media {
            .card__inner {
                .card__content {
                    padding: 1.2rem;
                }
            }
        }
        
        &__information {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            padding-bottom: 0;
        }

        &__heading {
            margin-top: .8rem;
            padding-right: 2rem;

            font-family: 'Satoshi', sans-serif;
            font-size: 2rem;
            line-height: 1.14;
            letter-spacing: -0.02em;
            font-weight: normal;
        }
        
        &__excerpt {
            margin-top: 1.2rem;
            margin-bottom: 2.2rem;
            padding-right: 2rem;

            font-size: 1.3rem;
            line-height: 1.2;
            letter-spacing: -0.02em;
        }

        &__badge {
            display: flex;
        }

        .card-information {
            margin-top: auto;
            
            .price {
                &:not(.rating):not(.card__information-volume-pricing-note) {
                    margin-top: 0;
                }
    
                &__regular {
                    .price-item--regular {
                        font-size: 1.6rem;
                        line-height: 1.2;
                        font-weight: bold;
                    }
                }
                
                &__sale {
                    .price-item--sale {
                        font-size: 1.6rem;
                        color: $black;
                        font-weight: bold;
                    }

                    .price-item--regular {
                        font-size: 1.5rem;
                        color: $gray;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}