@mixin h2() {
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: normal;

    @media (max-width: 750px) {
        font-size: 32px;
    }
    
    @media (min-width: 1200px) {
        font-size: 40px;
    }
}